<div class="home-container d-flex justify-content-between p-4">
  <!-- Galerie Stânga -->
  <div class="gallery left-gallery">
    <div class="gallery-item" *ngFor="let item of leftGalleryItems">
      <img [src]="item.image" [alt]="item.text" class="gallery-img" />
      <p class="gallery-text">{{ item.text }}</p>
    </div>
  </div>

  <!-- Secțiune Chat -->
  <div class="chat-container">
    <!-- Form pentru Input -->
    <form #form="ngForm" (ngSubmit)="sendMessage()" class="chat-form">
      <div class="input-group">
        <input
          type="text"
          class="form-control chat-input"
          placeholder="Message"
          [(ngModel)]="input"
          required
          name="input"
        />
        <button
          [disabled]="form.invalid"
          type="submit"
          class="btn btn-pink chat-send-button"
        >
          Send
        </button>
      </div>
    </form>

    <!-- Secțiunea de Răspuns -->
    <div class="output-section">
      <textarea class="output-text-area form-control" readonly>{{
        output
      }}</textarea>
      <button
        class="btn btn-pink save-button"
        type="button"
        (click)="saveMessage()"
      >
        Save
      </button>
    </div>
  </div>

  <!-- Galerie Dreapta -->
  <div class="gallery right-gallery">
    <div class="gallery-item" *ngFor="let item of rightGalleryItems">
      <img [src]="item.image" [alt]="item.text" class="gallery-img" />
      <p class="gallery-text">{{ item.text }}</p>
    </div>
  </div>
</div>
