.footer {
  background-color: #ff69b4; /* Culoarea roz */
  color: #ffffff;
  padding: 10px 0; /* Reduce padding-ul pentru a micșora înălțimea */
  text-align: center;
  position: fixed; /* Fixează footer-ul la baza paginii */
  bottom: 0; /* Asigură că footer-ul este la baza paginii */
  width: 100%; /* Asigură că footer-ul se extinde pe toată lățimea paginii */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* Adaugă umbră pentru efect vizual */
  z-index: 1000; /* Asigură că footer-ul este deasupra altor elemente */
}

.footer .container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  width: 100%; /* Liniile se întind pe toată lățimea container-ului */
  border-top: 2px solid #ffffff; /* Culoarea și grosimea liniei */
  margin: 5px 0; /* Reduce marginea pentru a micșora spațiul între linie și iconițe */
}

.social-media {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  margin: 5px 0; /* Reduce spațiul între linii și iconițe */
}

.social-icon {
  margin: 0 8px; /* Ajustează marginea pentru iconițe */
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem; /* Ajustează dimensiunea iconițelor dacă este necesar */
}

.social-icon:hover {
  color: #ff1493; /* Schimbă culoarea la hover */
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .social-media {
    margin-top: 5px; /* Ajustează spațiul pentru dispozitive mai mici */
  }
}
